.card__modal {
  width: 600px;
  height: 1000px;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
  align-content: start;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
}

.cardModal__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.cardModal__name {
  font-size: 30px;
  margin-top: 15px;
  font-weight: bold;
}
.cardModal__brand {
  font-size: 22px;
  margin-top: 10px;
  font-weight: 400;
}

.cardModal__description {
  font-size: 18px;
  margin: 15px 0;
}

.cardModal__image {
  width: 620px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  object-fit: cover;
}

.cardModal__labels {
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-areas:
    ". profile-1 profile-2 ."
    ". season day .";
  grid-template-columns: repeat(4, 125px);
  grid-template-rows: auto auto;
  gap: 5px;
  margin-bottom: 20px;
}

.cardModal__profile-main {
  grid-area: profile-1;
  background-color: rgba(199, 200, 179, 0.9);
  padding: 5px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: 400;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.cardModal__profile-secondary {
  grid-area: profile-2;
   background-color: rgba(199, 200, 179, 0.9);
  padding: 5px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: 400;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.cardModal__profile-season {
  grid-area: season;
   background-color: rgba(199, 200, 179, 0.9);
  padding: 5px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: 400;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.cardModal__profile-day {
  grid-area: day;
   background-color: rgba(199, 200, 179, 0.9);
  padding: 5px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: 400;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.cardModal__role {
  display: flex;
  flex-direction: column;
}

.cardModal__role-title {
  font-size: 24px;
  line-height: 100%;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}
