.cards { 
  display: grid;
  grid-gap: 20px;
  list-style-type: none;
  grid-template-columns: repeat(5, 1fr);
  margin: 0;
  padding: 10px;
}


.card {
  min-width: 210px;
  max-width: 210px;
  border-radius: 6px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, .4); 
  display: flex;
  flex-direction: column;
  background-color: #fff;
  overflow: hidden;
  margin: auto;
}

.card:hover {
  opacity: 90%;
  transition: 0.2s;
  cursor: pointer;
  scale: calc(101%);
}

.card__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__brand {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  color: #342a21;
  text-align: center;
  padding: 5px 1px 3px;
}

.card__name {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #342a21;
  text-align: center;
  padding-bottom: 10px;
}

.card__image {
  min-height: 180px;
  max-height: 180px;
  object-fit: cover;
  border-radius: 3px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.card__collection {
  margin: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #f1e0c5;
}

.card__collection:hover {
  opacity: 90%;
  transition: 0.2s;
  cursor: pointer;
  scale: calc(103%);
}

.card__content_collection {
  width: 233px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__delete-button {
  width: 18px;
  height: 18px;
  background: transparent url("../images/delete-icon.svg") center no-repeat;
  background-size: 18px 18px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 18px;
  right: 15px;
  padding: 0;
  margin: 0;
}

.card__delete-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1024px) {
.card {
    width: 306px;
  }
}

@media screen and (max-width: 768px) {
  .card {
    width: 356.5px;
  }
}

@media screen and (max-width: 425px) {
  .cards {
    grid-template-columns: 1fr;
  }

  .card {
    width: 95%;
  }

  .card__tittle {
    font-size: 20px;
    line-height: 95%;
    padding-top: 5px;
  }
  .card__subtittle {
    font-size: 16px;
    padding-bottom: 5px;
  }
  .card__image {
    height: 50px;
  }
}

