.cards {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 0;
  align-content: flex-start;
}

.card {
  list-style-type: none;
  border-radius: 6px;
  border: 1px solid #342a21;
}

.card__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__tittle {
  font-family: "Playfair Display", serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 26px;
  color: #342a21;
  text-align: center;
}

.card__subtittle {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #342a21;
  text-align: center;
}

.card__image {
  width: 320px;
  object-fit: contain;
  border-radius: 3px;
  margin: 0 auto 50px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}

.card__text {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  text-align: center;
  color: #342a21;
  font-weight: 500;
  margin: auto 50px 20px;
}
