.categories {
  background-color: #7f907c;
  border-radius: 30px;
}

.section__tittle_categories {
  color: #f1e0c5;
}

.section__subtittle_categories {
  color: #f1e0c5;
}

.categories__list {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: auto;
  gap: 20px;
}

.categories__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.categories__images {
  max-width: 310px;
  object-fit: contain;
  border-radius: 8px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
}

.categories__link {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  text-decoration: none;
}

.categories__link-icon {
  max-height: 60px;
}

.categories__link-text {
  text-align: center;
  font-size: 22px;
  line-height: 1.1;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

.categories__content:hover {
  opacity: 70%;
  transition: 0.2s;
  cursor: pointer;
  scale: calc(105%);
}

@media screen and (max-width: 768px) {
  .categories__list {
    gap: 10px;
  }
  .categories__images {
    max-width: 220px;
  }
  .categories__link-icon {
    max-height: 40px;
  }
}

@media screen and (max-width: 425px) {
  .section__tittle_categories {
    text-align: center;
    max-width: 100%;
    font-size: 32px;
    line-height: 1;
    font-weight: 600;
    margin: 0 0 12px;
  }
  .section__subtittle_categories {
    font-size: 18px;
    line-height: 1;
    margin: 0 5px 34px;
  }
  .categories__list {
    display: grid;
    gap: 20px;
    margin-bottom: 30px;
  }
  .categories__images {
    max-width: 250px;
  }
  .categories__link-icon {
    max-height: 40px;
  }
  .categories__content {
    gap: 15px;
  }
}

@media screen and (max-width: 320px) {
  .categories__link-icon {
    max-height: 30px;
  }
}
