.collection {
  background-color: #7f907c;
  border-radius: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "title title title"
    "subtitle subtitle subtitle"
    "box box box"
    "summary summary summary";
  gap: 20px;
}

.section__tittle_collection {
  color: #f1e0c5;
  grid-area: title;
}

.section__subtittle_collection {
  color: #fff;
  grid-area: subtitle;
}

.collection__add {
  grid-area: form;
  padding: 10px;
  margin: 20px 50px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}

.collection__form-title {
  text-align: center;
  font-size: 26px;
  line-height: 100%;
  font-weight: 600;
  color: #342a21;
  padding: 15px 0 20px;
}

.collection__form {
  max-width: 385px;
  margin: auto;
}

.collection__box {
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
  max-width: 1150px;
  width: 90%;
  background-color: #71816d;
  grid-area: box;
  margin: 0 auto;
  height: 100%;
}

.collection__action-btn{
  margin: 0 0 0 5%;
  width: calc(50% - 5%);
  display: flex;
  justify-content: center;
}

.collection__add-btn {
  color: #342a21;
  background: transparent center;
  background-color: rgba(199, 200, 179, 0.9);
  padding: 15px 23px;
  border-radius: 15px;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  border: none;
  align-self: center;
  width: 250px;
}

.collection__add-btn:hover {
  box-shadow: 3px 3px 10px 5px #00000040;
  transition: 0.1s;
  cursor: pointer;
}

.collection__footer {
  grid-area: summary;
  margin: 30px auto 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.collection__summary {
  background-color: #71816d;
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
  margin: 0 5% 0 0;
  padding: 22px 15px;
  width: calc(50% - 5%);
}

.collection__summary-title {
  color: #f1e0c5;
  font-size: 22px;
  line-height: 100%;
}

.collection__summary-info{
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  margin-top: 10px;
}

