.collection__box {
  border-radius: 6px;
  border: 2px solid #342a21;
  width: 1400px;
  margin: auto;
  background-color: #71816d;
}

.card__collection {
  margin: 20px 20px;
  width: 308px;
  display: flex;
  justify-content: space-between;
  background-color: #f1e0c5;
}

.card__collection:hover {
  opacity: 90%;
  transition: 0.2s;
  cursor: pointer;
  scale: calc(103%);
}

.card__image_collection {
  height: 70px;
  padding: 2.5px;
  object-fit: contain;
  border-radius: 3px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.card__content_collection {
  width: 233px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__tittle_collection {
  font-family: "Montserrat", sans-serif;
  font-size: 23px;
  font-weight: bold;
  line-height: 26px;
  color: #342a21;
  text-align: center;
  padding-top: 10px;
}

.card__subtittle_collection {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #342a21;
  text-align: center;
  padding-bottom: 10px;
}

.collection__form-title{
  text-align: center;
  font-size: 26px;
  line-height: 52px;
  font-weight: 600;
  color: #342a21;
  padding: 40px 0 20px;
}

.collection__form{
  max-width: 385px;
  margin: auto;
}