.edit-profile__content {
  position: absolute;
  top: 50px;
  right: 420px;
  display: flex;
  flex-direction: column;
  height: 533.75px;
  width: 325px;
  background-color: #c9b79c;
  border-radius: 30px;
  padding: 10px;
  align-content: start;
}

.edit__close {
  width: 25px;
  height: 25px;
  background: transparent url("../images/close.svg") center no-repeat;
  background-size: 35px 35px;
  border: none;
  position: absolute;
  top: -40px;
  right: -25px;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.edit__close:hover {
  opacity: 0.6;
}

.edit__form-button {
  width: 100%;
  border-radius: 15px;
}

.edit__message {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  line-height: 100%;
  font-weight: bold;
  letter-spacing: 0;
  color: #342a21;
  margin: 37px 0 15px;
  text-align: center;
}

.edit__form-label {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 100%;
  font-weight: bold;
  color: #342a21;
  margin: 10px 0;
  padding-left: 5px;
}