.footer {
  background-color: #c9b79c;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  grid-area: footer;
  position: relative;
  bottom: 0px;
}

.footer__columns {
  display: flex;
  height: 300px;
  justify-content: space-between;
  width: 90%;
}

.footer__column_main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
  padding: 30px 0 30px;
}

.footer__column_logo {
  font-family: "Playfair Display", serif;
  font-size: 32px;
  line-height: 1.1;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: #342a21;
  text-align: left;
  text-transform: capitalize;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.footer__column_copyright {
  padding-bottom: 15px;
  color: #342a21;
  font-size: 18px;
  font-weight: normal;
}

.footer__image {
  height: 140px;
  width: 140px;
}

.footer__texto {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  color: #342a21;
}

.footer__column_content-social {
  width: 150px;
  padding: 30px 0 30px;
}

.footer__list {
  font-family: "Montserrat", sans-serif;
  list-style-type: none;
  padding: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  font-family: "Montserrat", sans-serif;
  color: #342a21;
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 20px;
  font-weight: bold;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
}

.footer__social-link {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #342a21;
  text-decoration: none;
  transition: color 0.3s ease;
}

@media screen and (max-width: 768px) {
  .footer {
    height: 100%;
  }
  .footer__column_copyright {
    font-size: 16px;
  }
  .footer__column_main {
    gap: 30px;
    padding: 30px 0;
  }
}

@media screen and (max-width: 320px) {
  .footer__columns {
    display: grid;
    grid-template-areas: "social"
    "main";
    height: 100%;
  }
  .footer__column_copyright {
    font-size: 14px;
  }
  .footer__column_main {
    gap: 30px;
    padding: 10px 0;
    grid-area: main;
  }
  .footer__column_content-social{
    grid-area: social;
    padding: 10px 0;
  }
}
