.header {
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  position: sticky;
  top: 0;
  z-index: 999;
  align-items: center;
  height: 70px;
  grid-area: header;
  border-radius: 0 0 15px 15px;
}

.header__overlay {
  height: 100%;
  background-color: rgba(241, 224, 197, 0.4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 40px;
}

.header__icons {
  display: flex;
  align-items: center;
  gap: 6px;
}

.header__icon {
  height: 32px;
  object-fit: contain;
  padding: 2px 3px;
  background-color: rgba(199, 200, 179, 0.5);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.header__icon:hover{
  cursor: pointer;
}

.header__title {
  font-family: "Playfair Display", serif;
  font-size: 32px;
  line-height: 100%;
  font-weight: 700;
  color: #342a21;
  text-align: center;
  text-transform: capitalize;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.header__list {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.header__list-button {
  text-decoration: none;
  color: #342a21;
  background-color: rgba(199, 200, 179, 0.9);
  padding: 5px 12px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: 400;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.header__list-button:hover{
  box-shadow: 3px 3px 10px 2px #00000040;
  transition: 0.1s;
}

@media screen and (max-width: 1024px) {
  .header__title{
    font-size: 28px;
  }
  .header__list{
    gap: 8px;
  }
  .header__list-button {
    font-size: 12px;
    padding: 4px 8px;
  }
  .header__icon{
    height: 28px;
  }
}

@media screen and (max-width: 767px) {
  .header__list{
    display: none;
  }
}

@media screen and (max-width: 544px) {
  .header__overlay{
    padding: 0 20px;
  }
  .header__title{
    font-size: 26px;
  }
  .header__icon{
    height: 26px;
  }
}