.home {
  position: relative;
  min-height: 1070px;
  overflow: hidden;
}

.home__image {
  max-width: 980px;
  border-radius: 32px;
  z-index: 1;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translatex(-50%);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  object-fit: cover;
}

.home__title {
  font-size: 160px;
  line-height: 0.95;
  z-index: 3;
  letter-spacing: -0.07em;
  margin: 0 0 20px 20px;
  color: #342a21;
  max-width: 1100px;
}

.home__subtitle {
  font-size: 60px;
  line-height: 100%;
  font-weight: 300;
  letter-spacing: 0.2em;
  margin: 0 0 100px 20px;
  color: #342a21;
  max-width: 1100px;
}

.home__description {
  font-size: 32px;
  line-height: 100%;
  font-weight: 300;
  letter-spacing: 0.25em;
  color: #342a21;
  max-width: 1100px;
  margin-left: 20px;
}

.home__geo {
  background-color: #c9b79c;
  width: 100%;
  height: 362px;
  border-radius: 30px;
  position: absolute;
  bottom: 0;
}

@media screen and (max-width: 1024px) {
  .home {
    min-height: 642px;
  }
  .home__title {
    font-size: 120px;
  }

  .home__subtitle {
    font-size: 40px;
    margin: 0 0 60px 20px;
  }

  .home__description {
    font-size: 18px;
    line-height: 100%;
  }
  .home__image {
    max-width: 588px;
  }
  .home__geo {
    background-color: #c9b79c;
    height: 218px;
    border-radius: 30px;
    position: absolute;
    bottom: 0;
  }
}

@media screen and (max-width: 544px) {
  .home {
    min-height: 308px;
  }
  .home__title {
    font-size: 60px;
    margin: 0 0 4px;
    text-align: center;
  }

  .home__subtitle {
    font-size: 16px;
    margin: 0 0 20px 20px;
    text-align: center;
  }

  .home__description {
    font-size: 14px;
    text-align: center;
  }
  .home__image {
    max-width: 80%;
  }
  .home__geo {
    background-color: #c9b79c;
    height: 84px;
    border-radius: 30px;
    position: absolute;
    bottom: 0;
  }
}
