* {
  margin: 0;
}

body {
  min-height: 100vh;
  background-color: #c9b79c;
  position: relative;
}

html {
  scroll-behavior: smooth;
}

.body__no-scroll {
  overflow: hidden;
}

.page {
  margin: auto;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 20px;
  position: relative;
}
