* {
  margin: 0;
}

body {
  min-height: 100vh;
  background-color: #c7c8b3;
  position: relative;
}

.body__no-scroll{
  overflow: hidden;
}

.page {
  margin: auto;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 20px;
  position: relative;
}

.content{
  max-width: 1440px;
  margin: auto;
}