.popup {
  font-family: "Inter", Arial, sans-serif;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  z-index: 999;
}

.popup_is-opened {
  display: flex;
}

.popup__close:hover {
  opacity: 0.6;
}