.popup {
  font-family: "Inter", Arial, sans-serif;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  z-index: 999;
}

.popup__newCard{
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: none;
  inset: 0;
  z-index: 999;
}

.popup__newCard-add {
  position: relative;
  max-width: 400px;
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}

.popup__newCard-form-title {
  text-align: center;
  font-size: 26px;
  line-height: 100%;
  font-weight: 600;
  color: #342a21;
  padding: 15px 0 20px;
}

.popup__newCard-form {
  max-width: 385px;
  margin: auto;
}

.popup__close-addCard{
  width: 25px;
  height: 25px;
  position: absolute;
  top: -30px;
  right: -30px;
  background: transparent url("../images/close.svg") center no-repeat;
  background-size: 35px 35px;
  border: none;
  cursor: pointer;
}

.popup__close:hover {
  opacity: 0.6;
}

.popup__cards{
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: none;
  inset: 0;
  z-index: 999;
}

.popup__close-card{
  width: 20px;
  height: 20px;
  position: absolute;
  top: 15px;
  right: 15px;
  background: transparent url("../images/close.svg") center no-repeat;
  background-size: 35px 35px;
  border: none;
  cursor: pointer;
}

.popup__close-card:hover {
  opacity: 0.6;
}

.popup_is-opened {
  display: flex;
}