section {
  padding: 70px 0 50px;
  margin: auto;
}

.section__tittle {
  text-align: center;
  font-size: 44px;
  line-height: 52px;
  font-weight: 600;
  margin: 0 0 24px;
  color: #342a21;
}

.section__subtittle {
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  width: 900px;
  margin: 0 auto 68px;
  color: rgb(52, 42, 33);
}
