section {
  padding: 70px 0 50px;
  margin: 20px auto;
}

.section__tittle {
  text-align: center;
  font-size: 44px;
  line-height: 52px;
  font-weight: 600;
  margin: 0 0 24px;
  color: #342a21;
}

.section__subtittle {
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  max-width: 900px;
  margin: 0 auto 68px;
  color: rgb(52, 42, 33);
}

@media screen and (max-width: 1024px) {
  section {
    padding: 50px 0 50px;
  }
}

@media screen and (max-width: 767px) {
  section {
    padding: 30px 0 20px;
  }
}

@media screen and (max-width: 544px) {
  section {
    padding: 20px 0 15px;
    margin: 15px auto;
  }
}

