@import url("../blocks/page.css");
@import url("../blocks/header.css");
@import url("../blocks/section.css");
@import url("../blocks/cards.css");
@import url("../blocks/categories.css");
@import url("../blocks/inspired.css");
@import url("../blocks/footer.css");
@import url("../blocks/collection.css");
@import url("../blocks/form.css");
@import url("../blocks/iframe.css");
@import url("../blocks/home.css");
@import url("../blocks/popup.css");
@import url("../blocks/profile.css");
@import url("../blocks/settings.css");
@import url("../blocks/cardModal.css");
